/* Add a black background color to the top navigation */

.logo-text {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 15px;	
	font-weight: bold;
}

/* Style page content */
.main {
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

