<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
 	<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <title>Machine Learning Lab</title>
  </head>
  <body class="fixed-sn pink-skin">
   <!-- Logo & title -->
    <div class="logo-badge">
		<img src="{% static 'images/machine-learning-icon.png' %}" width="50px" />
		<span class="logo-text">MACHINE LEARNING LAB</span>
    </div>
   <!-- Logo & title -->
   <!-- Double navigation-->
    <!-- Top navigation -->
    <div class="topnav">
    </div>
    <!-- /Top navigation -->
	<!-- Side navigation -->
	<div class="sidenav">
	  <a href="#"><i class="fa fa-home"></i><span>Dashboard</span></a>
	  <a href="#"><i class="fa fa-database"></i><span>Manage Data</span></a>
	</div>
	<!-- /Side navigation -->
  <!-- /Double navigation-->

  <!-- Main Content -->
  <div class="main">
	<h4>{% block home_content %}{% endblock %}</h4>      	
  </div>
  <!-- /Main Content -->

  </body>
</html>
