<div class="h4">Data Source: <span id="source_file">{{  data_file_name }}</span></div>
<div class="row mx-0">
    <div class="tile mr-3">
        <div class="tile-text" id="source_rows">{{  data_file_rows }}</div>
        <div class="tile-title">Data Records</div>
    </div>
    <div class="tile">
        <div class="tile-text" id="source_cols">{{  data_file_cols  }}</div>
        <div class="tile-title">Data Columns</div>
    </div>
</div>
<br>

<div class="row mx-0">
    <div class="my-2">
        <span class="p-3 h5">SUMMARY BY DATA COLUMNS</span>
        <table id="column_stats_table" class="m-3 table table-sm col-*" style="border:1px solid darkgray">
            <tr class="thead-dark">
                <th>Column Name</th>
                <th>Data Type</th>
                <th>Minimum</th>
                <th>Maximum</th>
                <th>Mean</th>
                <th>Std Dev</th>
            </tr>
        </table>
    </div>
    <div class="mx-2">
        <div class="h5 p-2 text-dark" style="width:300px; text-align:center">Histogram of Column Values</div>
        <div id="column_histogram" style="width:300px; height:160px"></div>
    </div>
</div>

