<div class="row mx-0">
    <div class="mx-2" style="padding: 5px; border:1px solid gray">
        <div id="covariance_heatmap" class="mx-2" style="width:400px; height:300px"></div>
    </div>
    <div class="col-*">
        <div class="tile m-1">
            <div class="tile-text" id="corr_coeff" style="width:80px">?</div>
            <div class="tile-title">Correlation Coefficient</div>
        </div>
        <div class="m-1" style="padding:5px; border:1px solid gray">
            <div id="covariance_plot" class="mx-2" style="width:400px; height:300px;"></div>
        </div>
    </div>
</div>
