{% extends 'base.html' %}
{% block home_content %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous">
  </script>

  {% load static %}

<!-- File input form  -->
<form action={% url 'index' %} method="POST">
    {% csrf_token %}
    <div class="input-group">
        <div class="input-prepend" >
            <span class="input-group-text pt-1 pb-0">{{ form.data_file.label_tag }}</span>
        </div>
        <div class="input-group-append">{{ form.data_file }}</div>
        <div class="input-group-append">
            <button type="submit" name="select_btn" class="btn" {{select_btn_disabled}}>
                Select
            </button>
            <button type="submit" name="change_btn" class="btn" {{change_btn_disabled}}>
                Change Data File
            </button>
        </div>
    </div>
 </form>
<!-- /File input form  -->
<hr>
<!-- Control Panel -->
<div class="{{ flow_chart_visibility }} row container-fluid">
    <form id="sidebar_form" action={% url 'index' %} method="POST">
        {% csrf_token %}
        <div class="card border-dark mt-1">
	        <div class="card-header bg-dark text-center h5 text-white">
	   	        <i class="fa fa-cog"></i><span class="px-2">CONTROL PANEL</span>
	        </div>
            <h6 class="card-title">Task: SUPERVISED LEARNING</h6>
            <h6 class="card-title">Problem Type: REGRESSION</h6>
            <h6 class="card-title">Target Feature:</h6>
            <div class="card-label" name="target_feature">{{ target_feature }}</div>
 	        <div class="row mx-0">
	            <h6 class="card-title col-*">Base Features:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
	            <span class="card-label col" name="base_features">{{  base_features }}</span>
	        </div>
            <hr>
	        <div class="row mx-0">
      	        <h6 class="card-title col-*">Training Set Ratio:&nbsp;&nbsp;</h6>
	            <span class="card-label col" name="training_ratio">{{ training_ratio }}</span>
	        </div>
 	        <div class="row mx-0">
	            <h6 class="card-title col-*">Training Samples:&nbsp;&nbsp;&nbsp;</h6>
	            <span class="card-label col" name="training_rows">{{ training_rows }}</span>
	        </div>
            <div class="row mx-0">
	            <h6 class="card-title col-*">Validation Samples: </h6>
	            <span class="card-label col" name="training_rows">{{ validation_rows }}</span>
	        </div>
            <hr>
            <h6 class="card-title">Algorithm/Method:</h6>
            <div class="card-label" name="training_method">{{ training_method }}</div>
            <hr>
            <button type="submit" class="btn m-2" name="train_btn">Train</button>
        </div>
    </form>

    <nav class="mx-4 my-2">
      <div class="nav nav-tabs bg-light" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-explore-tab" data-toggle="tab" href="#nav-explore" role="tab">
            <i class="fa fa-database mx-1"></i>Explore Data</a>
        <a class="nav-item nav-link" id="nav-features-tab" data-toggle="tab" href="#nav-features" role="tab">
            <i class="fa fa-chart-line mx-1"></i>Feature Selection</a>
        <a class="nav-item nav-link disabled" id="nav-validate-tab" data-toggle="tab" href="#nav-validate" role="tab">
            <i class="fa fa-clipboard-check mx-1"></i>Validation</a>
      </div>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-explore" role="tabpanel">
          <h5><b>DATA SOURCE: {{ data_file_name }}</b></h5>
          <span>[Data Rows: {{ data_file_rows }}</span>, <span>Data Columns: {{ data_file_cols }}]</span>
      </div>
      <div class="tab-pane fade" id="nav-features" role="tabpanel">tab 2</div>
      <div class="tab-pane fade" id="nav-validate" role="tabpanel">tab 3</div>
    </div>
    </nav>

</div>
<!-- /Control Panel -->
{% endblock home_content %}

{% block javascript %}
      <script type="text/javascript">
        $(document).ready(function(){
            {% if error_message is not None %} $('#messageBox').modal("show"); {% endif %}
            $("#glass_pane").hide();
            $("#flowchart_form").on('submit', function(e) {
                if ( $(document.activeElement).attr('name') === "train_btn") $("#glass_pane").show();
            })
        })
     </script>
{% endblock javascript %}