{% extends 'base.html' %}
{% block home_content %}
<!-- File input form  -->
<form>
<div class="input-group h5 w-25">
   <div class="input-group-prepend">
     <span class="input-group-text">Data File:</span>
   </div>
   <select id="inputFile" class="form-control custom-select" placeholder="Select file"></select>
   <div class="input-group-append">
 	 <button type="submit" class="btn btn-primary">Select</button>
   </div>
</div>
</form>
<hr>
<!-- /File input form  -->

<!-- MLFLowChart -->
<div id="mlflow">
	<!--  Data Source Tile  -->
	<div class= "flow-tile">
		<div class="tile-header">DATA SOURCE</div>
		<div class="tile-label">Current Data File:</div><div class="tile-badge">File_for_MLFLOW_xcxcxvxx1.txt</div>
		<div><span class="tile-label">Data Records:</span><span class="tile-badge">200</span></div>
		<div><span class="tile-label">Data Columns:</span><span class="tile-badge">4</span></div>
		<hr>
		<div class="text-center"><button type="button"  data-toggle="modal" data-target="#myModal" id="btnExploreData">Explore Data ...</button></div>
	</div>
	<!--  /Data Source Tile  -->

</div>
<!-- /MLFLowChart -->
{% endblock home_content %}

