<div class="tab-title" id="training_method">Model fit using {{ training_method }} and k-Folds Cross-Validation</div>
<div class="row mx-0">
    <form id="sidebar_form" action={% url 'train_model' %} method="GET">
        {% csrf_token %}
        <div name="data_file_name">{{ control_form.data_file_name }}</div>
        <div class="card border-dark mt-1">
	        <div class="card-header bg-dark text-center h5 text-white">
	   	        <i class="fa fa-cog"></i><span class="px-2">CONTROL PANEL</span>
	        </div>
            <div class="row mx-0">
                <h6 class="card-title">Task:</h6>
                <span class="card-label static-field col">Supervised Learning</span>
            </div>
           <div class="row mx-0">
                <h6 class="card-title">Type:</h6>
                <span class="card-label static-field col">Regression</span>
            </div>
            <h6 class="card-title">Target Feature:</h6>
            <div class="card-label static-field" id="target_feature">{{ target_feature }}</div>
 	        <div class="row mx-0">
	            <h6 class="card-title col-*">Base Features:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
	            <span class="card-label static-field col" id="base_features">{{  base_features }}</span>
	        </div>
            <hr>
	        <div class="row mx-0">
      	        <h6 class="card-title col-*">Training Set Ratio:&nbsp;&nbsp;</h6>
                <span id="training_ratio_select">{{ control_form.training_ratio }}</span>
	        </div>
 	        <div class="row mx-0">
	            <h6 class="card-title col-*">Training Samples:&nbsp;&nbsp;&nbsp;</h6>
	            <span class="card-label static-field col" id="training_rows">{{ training_rows }}</span>
	        </div>
            <div class="row mx-0">
	            <h6 class="card-title col-*">Validation Samples: </h6>
	            <span class="card-label static-field col" id="validation_rows">{{ validation_rows }}</span>
	        </div>
            <hr>
            <h6 class="card-title">Algorithm/Method:</h6>
            <div style="width:220px">{{  control_form.training_method }}</div>
            <hr>
            <button type="button" class="btn m-2" onclick="ajaxTrainRequest()" id="train_btn">Train</button>
        </div>
    </form>
    <div class="col">
        <span class="card-title">Training Score: </span>
            <span class="card-label" id="train_score"></span>
            +/-[ <span id="train_scores_stdev"></span> ]
        <span class="card-title">Validation Score: </span>
            <span class="card-label" id="test_score"></span>
            +/-[ <span id="test_scores_stdev"></span> ]
        <div class="note-text">
            NOTE: Score is a measure of goodness of the predicted fit. The best possible score is 1.0 and it can be negative
            (because the model can be arbitrarily worse). A constant model that always predicts the expected value of y,
            disregarding the input features, would get a score of 0.0.
        </div>
    <div style="width:560px; height:300px" id="validation_plot"></div>
    </div>
</div>