<div class="row mx-0">
    <form id="sidebar_form" action={% url 'train_model' %} method="GET">
        {% csrf_token %}
        <div class="card border-dark mt-1" style="width:200">
	        <div class="card-header">PROBLEM TYPE</div>
            <div class="row mx-0">
                <div class="card-title">Problem:</div>
                <span class="card-label static-field col">Supervised Learning</span>
            </div>
           <div class="row mx-0">
                <div class="card-title">Type:</div>
                <span class="card-label static-field col">Regression</span>
            </div>
            <hr class="spacer">
            <div class="card-header">TARGET FEATURE</div>
            <div class="card-label static-field" id="target_feature">{{ target_feature }}</div>
            <hr class="spacer">
            <div class="card-header">K-FOLD CROSS VALIDATION</div>
	        <div class="row mx-0">
      	        <div class="card-title">No. of Splits:&nbsp;&nbsp;</div>
                <span id="n_splits_select" class="col">{{ control_form.n_splits }}</span>
	        </div>
            <div class="card-title">Method:</div>
            <div style="width:95%">{{  control_form.training_method }}</div>
            <hr>
            <button type="button" class="btn m-2" onclick="ajaxTrainRequest()" id="train_btn">
                <i class="fas fa-play"></i><span class="mx-2">Train Model</span>
            </button>
        </div>
    </form>
    <div class="col" style="width:500">
        <div class="row mx-0">
            <div id="cv_scores_plot" class="m-1" style="width:230px; height:160px;"></div>
            <div class="col-*">
                <div class="tile m-2">
                    <div class="tile-text" id="train_score" style="width:80px"></div>
                    <div class="tile-title">
                        Average Training Score
                        <div class="tile-subtitle">Std Dev: <b><span id="train_scores_stdev"></span></b></div>
                    </div>
                </div>
                <div class="tile m-2">
                    <div class="tile-text" id="test_score" style="width:80px"></div>
                    <div class="tile-title">
                        Average Validation Score
                        <div class="tile-subtitle"> Std Dev: <b><span id="test_scores_stdev"></span></b></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-1" style="width:500px; height:270px" id="validation_plot"></div>
    </div>
</div>