<div class="tab-title" id="training_method">Model fit using {{ training_method }} and k-Folds Cross-Validation</div>
<span class="card-title">Training Score: </span>
    <span class="card-label" id="train_score"></span>
    +/-[ <span id="train_scores_stdev"></span> ]
<span class="card-title">Validation Score: </span>
    <span class="card-label" id="test_score"></span>
    +/-[ <span id="test_scores_stdev"></span> ]
<div class="note-text">
    NOTE: Score is a measure of goodness of the predicted fit. The best possible score is 1.0 and it can be negative
    (because the model can be arbitrarily worse). A constant model that always predicts the expected value of y,
    disregarding the input features, would get a score of 0.0.
</div>
<div style="width:560px; height:350px" id="validation_plot"></div>
